/nlp-env
/nlp_env
/nlp
term_context_matrix.csv
term_document_matrix.csv
tf_idf_matrix.csv
ppmi_matrix.csv
.DS_Store
__pycache__

# hw 3 output
en_bigrams.csv
en_trigrams.csv
en_unigrams.csv
de_bigrams.csv
de_trigrams.csv
de_unigrams.csv
es_bigrams.csv
es_trigrams.csv
es_unigrams.csv
en_interpolated_bigrams.csv
en_interpolated_trigrams.csv
de_interpolated_bigrams.csv
de_interpolated_trigrams.csv
es_interpolated_bigrams.csv
es_interpolated_trigrams.csv

# final project
/datasets/course-slides
/final-project/course-concept-labels/